body{
    background-color: #80c325;
}

.header {
    background-color: white;
    margin-bottom: 40px;
    display: flex;
    height: 9em;
}

.header button{
    margin: auto;
    background-color: #fff;
    border: 0;
    height: 52%;
}

.header button :hover{
    cursor: pointer;
}

.header button img{
    height: 100%;
    width: 100%;
}

.header ul{
    margin: auto;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 600;
}

.header ul li{
    margin:10px;
}

.header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto Slab", sans-serif;
}

.header a:hover{
    color: #80c325;
}

.container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 50%;
    height: 700px;
    max-height: 100%;
}

.container h1{
    color: black;
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    font-size: 60px;
    margin: auto;
    margin-bottom: 60px;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autofill input{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 30px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.inputar input{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 30px;
    margin: auto;
    margin-top: 5%;
}
form button{
    width: 100px;
    height: 20px;
    margin-top: 10%;
}
